   body {
      font-family: "Balsamiq Sans", sans-serif;;
      text-align: center;
      background: #f1EE8E;
      padding: 30px;
      font-weight: 500;
    }
    h1 {
      color: #333;
      font-family: "Rubik Dirt", system-ui;
      font-weight: 550;
      font-size: 50pt;
    }
    .box {
      background: white;
     
      padding-top: 80px;
      padding-bottom: 80px;
padding-left: 100px;
padding-right: 100px;
      border-radius: 15px;
      margin: 20px auto;
      max-width: 500px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      font-size: 20pt;
    }
    .innerBox{
background: white;
     
      padding-top: 0px;
      padding-bottom: 0px;
padding-left: 100px;
padding-right: 100px;
      border-radius: 15px;
      margin: 20px auto;
      max-width: 500px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      font-size: 15pt;
    }
    img {
      max-width: 100%;
      border-radius: 10px;
    }
    .celebrateText{
      font-family: "Raleway", sans-serif;
      text-align:start;
      font-size: 15pt;

    }
    .celebrate{
      font-family: "Raleway", sans-serif;
      text-align:center;
      font-size: 30pt;
    }
    #footerText{
      font-family: "Raleway", sans-serif;
      text-align: center;
    }
